<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>直500</title>
</head>
<body>


<h4> 直500 </h4>

</body>
</html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'css/toastr.min.js' %}"></script>


<!--<head>-->
<!--    <link href="/static/bootstarp/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/static/bootstrap-select/dist1.12.4/css/bootstrap-select.min.css">-->
<!--    <script src="/static/bootstarp/jquery/jquery3.2.1.js"></script>-->
<!--    <script src="/static/bootstarp/js/bootstrap.min.js"></script>-->
<!--    <script src="/static/bootstrap-select/dist1.12.4/js/bootstrap-select.min.js"></script>-->
<!--</head>-->

<!--<body>-->

<!--<div class="container">-->
<!--    <button class="btn btn-info">info</button>-->
<!--    <button class="btn btn-success">success</button>-->
<!--    <button class="btn btn-warning">warning</button>-->
<!--    <button class="btn btn-danger" type="submit" >error</button>-->


<!--&lt;!&ndash;    <input type="submit" value="提交">&ndash;&gt;-->


<!--</div>-->


<!--</body>-->

<!--<script>-->
<!--    //toastr消息-->
<!--    $(".btn-info").click(function(){-->
<!--        toastr.info('info 消息提示')-->
<!--    });-->
<!--    $(".btn-success").click(function(){-->
<!--        toastr.success('操作成功！')-->
<!--    });-->
<!--    $(".btn-warning").click(function(){-->
<!--        toastr.warning('警告内容！')-->
<!--    });-->
<!--    $(".btn-danger").click(function(){-->
<!--        toastr.error('服务器异常！')-->
<!--        toastr.error('警告内容！')-->

<!--    });-->
<!--</script>-->

<div class="container">

<!--    客户经理: <input type="text" name="custName"> <br>-->
<!--    <th><label for="id_custName">客户经理:</label></th>-->
<!--    <select class="selectcust" title="请选择">-->
<!--        <option value="jxw" title="jxw">jxw</option>-->
<!--        <option value="xzw" title="xzw">xzw</option>-->
<!--        <option value="cm" title="cm">cm</option>-->
<!--        <option value="fht" title="fht">fht</option>-->
<!--        <option value="zll" title="zll">zll</option>-->
<!--    </select><br><br>-->





    <th><label for="id_env">测试环境:</label></th>
    <select class="selectenv" title="请选择">
        <option value="sit" title="sit">sit</option>
        <option value="test" title="test">test</option>
        <option value="uat" title="uat">uat</option>
    </select><br>
    <br>
    <th><label for="id_custName">客户经理:</label></th>
    <select class="selectcust" title="请选择">
        <option value="jxw" title="jxw">jxw</option>
        <option value="xzw" title="xzw">xzw</option>
        <option value="cm" title="cm">cm</option>
        <option value="fht" title="fht">fht</option>
        <option value="zll" title="zll">zll</option>
        <option value="txzw" title="txzw">txzw</option>
        <option value="ljy" title="ljy">ljy</option>
    </select><br><br>



    <button id="get_btn" class="btn btn-info">提交</button>
</div>






<script>
    $("#get_btn").click(function(){
        var custName = $(".selectcust").val();
        var env = $(".selectenv").val();
<!--        toastr.success('提交成功,正在执行脚本,请耐心等待,大概5分钟');-->
        $.ajax({
            url: "pro/add",
            type: "GET",  //默认值: "GET"请求方式 ("POST" 或 "GET")
            data: {
                        custName: custName,
                        env: env,
                    },
            dataType:"json",   //服务器返回的类型json,xml,text,html等
            success: function(result, status, xhr){      // 回调结果，如果成功

                        if(result){    //判断状态码
                             // code为0，弹出成功提示
                             alert("请求成功: "+JSON.stringify(result))}
                        else {
                             alert("请求失败："+JSON.stringify(result))
                            }
                    },
            error: function(result, xhr, status, error) {
                        alert("接口返回状态："+ status)
                     }
            });
        })
</script>





