<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>直500</title>
</head>
<body>


<h4> 直500 </h4>

</body>
</html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'css/toastr.min.js' %}"></script>


<!--<head>-->
<!--    <link href="/static/bootstarp/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/static/bootstrap-select/dist1.12.4/css/bootstrap-select.min.css">-->
<!--    <script src="/static/bootstarp/jquery/jquery3.2.1.js"></script>-->
<!--    <script src="/static/bootstarp/js/bootstrap.min.js"></script>-->
<!--    <script src="/static/bootstrap-select/dist1.12.4/js/bootstrap-select.min.js"></script>-->
<!--</head>-->

<!--<body>-->

<!--<div class="container">-->
<!--    <button class="btn btn-info">info</button>-->
<!--    <button class="btn btn-success">success</button>-->
<!--    <button class="btn btn-warning">warning</button>-->
<!--    <button class="btn btn-danger" type="submit" >error</button>-->


<!--&lt;!&ndash;    <input type="submit" value="提交">&ndash;&gt;-->


<!--</div>-->


<!--</body>-->

<!--<script>-->
<!--    //toastr消息-->
<!--    $(".btn-info").click(function(){-->
<!--        toastr.info('info 消息提示')-->
<!--    });-->
<!--    $(".btn-success").click(function(){-->
<!--        toastr.success('操作成功！')-->
<!--    });-->
<!--    $(".btn-warning").click(function(){-->
<!--        toastr.warning('警告内容！')-->
<!--    });-->
<!--    $(".btn-danger").click(function(){-->
<!--        toastr.error('服务器异常！')-->
<!--        toastr.error('警告内容！')-->

<!--    });-->
<!--</script>-->

<div class="container">

<!--    客户经理: <input type="text" name="custName"> <br>-->
    <th><label for="id_custName">客户经理:</label></th>
    <select class="selectcust" title="请选择">
        <option value="jxw" title="jxw">jxw</option>
        <option value="xzw" title="xzw">xzw</option>
        <option value="cm" title="cm">cm</option>
        <option value="fht" title="fht">fht</option>
        <option value="zll" title="zll">zll</option>
    </select><br><br>





    <th><label for="id_env">测试环境:</label></th>
    <select class="selectenv" title="请选择">
        <option value="test" title="test">uat</option>
        <option value="sit" title="sit">sit</option>
    </select><br>

    <p> 项目编号：<input type="text" name="projectNo"> 此项目已授信提交完成</p>

<!--    <th><label for="id_guarantor">是否需要担保方:</label></th>-->
<!--    <select class="selectguarantor" title="请选择">-->
<!--        <option value="2" title="2">否</option>-->
<!--        <option value="1" title="1">是</option>-->
<!--        <option value="3" title="3">多个</option>-->
<!--    </select><br><br>-->

<!--    是否需要担保方（非必填,1:是,2:否,默认否）: <input type="text" name="guarantor"> <br><br>-->
<!--    测试环境（非必填,sit,test,默认test）: <input type="text" name="env"> <br><br>-->
<!--     <p> 节点：<input type="radio" name="node" value="0">待授信申请（未填写）-->
<!--         <input type="radio" name="node" value="1">待授信申请（已填写）-->
<!--         <input type="radio" name="node"  value="2">业务主管审批-->
          <p> 节点：<input type="radio" name="node"  value="3">区域负责人审批
        <input type="radio" name="node"  value="4">评审经理审批
         <input type="radio" name="node"  value="5">评审主管审批
         <input type="radio" name="node"  value="6">有权人审批
         <input type="radio" name="node"  value="7">审批通过

     </p><br>

    <button id="get_btn" class="btn btn-info">提交</button>
<!--    <button id="post_btn" class="btn btn-info">发post请求</button>-->
</div>

<!--<script>-->
<!--    $("#get_btn").click(function(){-->
<!--            var custName = $('input[name="custName"]').val();-->
<!--            var guarantor = $('input[name="guarantor"]').val()-->
<!--            var node = $('input[name="node"]').val()-->
<!--            toastr.success('提交成功,正在执行脚本,请耐心等待,大概8分钟');-->
<!--            $.get('pro/add',-->
<!--                    {-->
<!--                        custName: custName,-->
<!--                        node: "1",-->
<!--                        guarantor:"2"-->
<!--                    },-->
<!--                  function(data, status) {-->
<!--                      alert("状态："+ status + ",body:" + JSON.stringify(data))-->
<!--                      alert("状态: "+ status + ", " + JSON.stringify(data))-->
<!--                  }).fail(function() {-->
<!--                      alert('接口请求失败！');-->
<!--    })-->
<!--</script>-->





<script>
    $("#get_btn").click(function(){
        var custName = $(".selectcust").val();
        var projectNo = $('input[name="projectNo"]').val();
        var env = $(".selectenv").val();
        var node = $('input[name="node"]').serialize();
        toastr.success('提交成功,正在执行脚本,请耐心等待,大概5分钟');
        $.ajax({
            url: "pro/add",
            type: "GET",  //默认值: "GET"请求方式 ("POST" 或 "GET")
            data: {
                        custName: custName,
                        projectNo: projectNo,
                        env: env,
                        node: node
                    },
            dataType:"json",   //服务器返回的类型json,xml,text,html等
            success: function(result, status, xhr){      // 回调结果，如果成功

                        if(result.code == 0){    //判断状态码
                             // code为0，弹出成功提示
                             alert("请求成功："+JSON.stringify(result))}
                        else {
                             alert("请求失败："+JSON.stringify(result))
                            }
                    },
            error: function(result, xhr, status, error) {
                        alert("接口返回状态："+ status)
                     }
            });
        })
</script>





