<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>直500</title>
</head>
<body>


<h4> 直500 </h4>

</body>


</html>
<!--{% load static %}-->
<form action="/data" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->

<input type="submit" value="新建项目">

</form>
    <br>
<form action="/direct" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="已有项目">

</form>
    <br>

<form action="/middleCode" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="中征码">

</form>
    <br>

<form action="/credit" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="征信报告">

</form>
    <br>

<form action="/token" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="用户token">

</form>
    <br>

<form action="/id" method="get">

   <input type="submit" value="小微项目编号">

</form>
    <br>

<form action="/user" method="get">

   <input type="submit" value="vrip用户信息">

</form>
    <br>



