<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>直500</title>
</head>
<body>


<h4> 直500 </h4>

</body>


</html>
<!--{% load static %}-->
<form action="/approve" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->

<input type="submit" value="授信审批">

</form>
    <br>
<form action="/contract" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="待合同发起">

</form>
    <br>
<form action="/payment" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="待付款申请">

</form>
    <br>
<form action="/paymentApprove" method="get">
<!--    造数脚本: <input type="text" name="q"> <br>-->
<!--    <br>-->
   <input type="submit" value="合同付款审批">

</form>
    <br>






